body{
    background-color: #fff;
    margin:0px;
    padding:0px;
    font-family:Arial;
    text-align:center;
}

img{border:0px;}

/* MAIN */
#main{
    margin:0px auto;
    width:996px;
    text-align:center;
}

/* LOGO */
#logo{
    float:left;
    width:936px;
    height:123px;
    background-image:url(img/head-bg.png);
    background-repeat:no-repeat;
}

/* BASE */
#base{
    float:left;
    width:996px;
}

/* TOP-MENU */
.top-menu{
    float:left;
    width:824px;
    height:30px;
    font-size:15px;
    background-image:url(img/top-menu-bg.png);
    background-repeat:repeat-x;

}

.top-menu ul{
    margin:0px;
    padding:0px;
}

.top-menu ul li{
    float:left;
    list-style:none;
    border-right:1px solid #fff;
    display:block;
    height:30px;
    line-height:29px;
}

.top-menu ul li a{
    text-decoration:none;
    height:16px;
    padding:6px 12px;
    color:#3e3e3e;
    font-size:15px;

}

.top-menu ul li a:hover{
    background-image:url("");
    background-color:#6e1a1c;
    color:#fff;
}

.search{
    float:right;
    width:172px;
    height:30px;
    background-image:url(img/top-menu-bg.png);
    background-repeat:repeat-x;
}

.form{float:right;}

.search-bg{
    background-image:url(img/search.png);
    background-repeat:no-repeat;
    background-position:center left;
    height: 24px;
    padding: 3px 5px;
    width:148px;
    float:right;
}

.search .i-text{
    float:left;
    color:#8e4b2a;
    width:100px;
    height:19px;
    padding-left: 2px;
    margin-right:2px;
    border-top:1px solid #e4e4e5;
    border-right:1px solid #c1c3c5;
    border-bottom:1px solid #b6b8ba;
    border-left:1px solid #dbdcdd;
}

.search input[type="submit"] {
    background-image:url(img/ok.png);
    background-repeat:no-repeat;
    color:#fff;
    float:right;
    border:0px;
    width:26px;
    height:20px;
    margin-top: 1px;
    font-size: 15px;
    padding: 0 3px;
}

/* BASE-LEFT */
#base-left{
    float: left;
    width: 715px;
    padding-top:15px;
    padding-left:9px;
    background-image:url(img/p-bg.png);
}

/* BASE-LEFT-TOP */
#base-left-top{
    float:left;
    width: 715px;
    margin-bottom:15px;
}

/* LEFT-MENU */
#left-menu{
    width:255px;
    float:left;
    -moz-box-shadow: 0 0 7px #D3D3D3;
    -webkit-box-shadow: 0px 0px 7px #D3D3D3;
    box-shadow: 0 0 7px #D3D3D3;
    background-color:#fff;
}

#left-menu ul{
    margin: 0;
    padding:0;/* 16px 0 10px;*/
}

#left-menu ul li{
    font-weight:bold;
    font-size: 12px;
    list-style:none;
    text-align:left;
    border-right:1px solid #cfcece;
    border-bottom:1px solid #c8c7c7;
    height:30px;
    width:244px;
    padding-left:10px;
    background-image:url(img/left-menu-x.jpg);
    background-position:center right;
    background-repeat:no-repeat;
}

#left-menu ul li a{
    color:#272727;
    width:242px;
    height:30px;
    padding: 0 15px 0 0;
    text-decoration:none;
}

#left-menu ul li a:hover{
    color:#ed2024;
}

/* SLIDE */
#slide{
    float:left;
    width: 435px;
    padding: 10px;
    margin-left: 5px;
    background-color:#fff;
    border:0px solid red;
    -moz-box-shadow: 0 0 7px #cfcfcf;
    -webkit-box-shadow: 0 0 7px #cfcfcf;
    box-shadow: 0 0 7px #cfcfcf;
}

#slide-pic{
    float:left;
    width:431px;
    height:215px;
    margin-left: 2px;
    background-image:url(img/suvari.jpg);
    background-repeat:no-repeat;
}

#slide-pic-prev{
    /*background-color: #FFFFFF;
    opacity: 0.9;*/
    background-image:url(img/slide-transparent.png);
    background-repeat:repeat-x;
    float: left;
    height: 115px;
    padding-top: 100px;
    width: 24px;
}

.slide-a{
    text-decoration:none;
    color:#811517;
    font-weight:bold;
    font-size:18px;
}

#slide-pic-next{
    /*background-color: #FFFFFF;
    opacity: 0.5;*/
    background-image:url(img/slide-transparent.png);
    background-repeat:repeat-x;
    float: right;
    height: 115px;
    padding-top: 100px;
    width: 24px;
}

#slide-text{
    float:left;
    width:425px;
    padding:5px;
}

#slide-text span{
    text-align:left;
    font-family:"Minion Pro";
    font-size:14px;
    font-style:italic;
    font-weight:bold;
    color:#272727;
}

#youtube{
    float:left;
    width:243px;
    height:25px;
    background-image:url(img/youtube.png);
    background-position:center right;
    background-repeat:no-repeat;
    background-color:#fff;
    text-align:left;
    padding:0 5px 0 18px;
    border:1px solid #dfe0e2;
    margin: 15px 0 25px 75px;
    -moz-box-shadow: 0 0 7px #cfcfcf;
    -webkit-box-shadow: 0 0 7px #cfcfcf;
    box-shadow: 0 0 7px #cfcfcf;
    border-radius:13px;
    -moz-border-radius: 13px;
    -webkit-border-radius:13px;
}

#youtube a{
    color:#811517;
    font-family:"Minion Pro";
    font-size:14px;
    font-style:italic;
    font-weight:bold;
    text-decoration:none;
    line-height:25px;
}

#youtube a:hover{text-decoration:underline;}



/* BASE-LEFT-CENTER */
#base-left-center{
    float:left;
    width:715px;
    font-size:30px;
    font-family:Arial;
    -moz-box-shadow: 0 0 25px #cfcfcf;
    -webkit-box-shadow: 0 0 25px #cfcfcf;
    box-shadow: 0 0 25px #cfcfcf;
}

/* ANALITICS */
#analitics{
    float:left;
    width:615px;
    height:392px;
    background-color:#fff;
}

#analitics-head{
    border-bottom:1px solid #f8f8f8;
    width:576px;
    margin:0px auto;
    text-align:left;
    color:#811517;
    font-weight:bold;
    padding-top: 4px;
    padding-left:4px;
}

#analitics-content{
    padding: 3px 10px;
    font-size: 12px;
    line-height: 20px;
    text-align: justify;
    color:#454546;
}

#analitics-content p{
    font-size:18px;
    font-weight:bold;
    margin:5px;
}

#analitics-content img{
    padding:10px 27px 3px;
    float:left;
}

.more{
    color:#385eab;
    text-decoration:none;
    font-size:12px;
}

.more:hover{
    color:#ed2024;
}

.vertical {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    display: block;
    overflow: hidden;
    height: 35px;
    width: 390px;
    margin-left: -170px;
    margin-top: 175px;
    text-align: left;
}

#news {
    float:left;
    width:49px;
    height:392px;
    border-left:1px solid #d9d8d7;
    background-color:#811517;
    overflow: hidden;
}

#news a{
    color:#fff;
    text-decoration:none;
}

#expert-opinion{
    float:left;
    width:49px;
    height:392px;
    border-left:1px solid #d9d8d7;
    background-color:#811517;
    overflow: hidden;
}

#expert-opinion a{
    color:#fff;
    text-decoration:none;
}

/* BASE-LEFT-BOTTOM */
#base-left-bottom{
    margin-top:10px;
    float:left;
    width:715px;
}

#last-news{
    font-size:14px;
    color:#fff;
    background-color:#dca351;
    text-align:left;
    padding-left:15px;
    height:34px;
    font-weight:bold;
    line-height:34px;
    -moz-box-shadow: 0 0 25px #cfcfcf;
    -webkit-box-shadow: 0 0 25px #cfcfcf;
    box-shadow: 0 0 25px #cfcfcf;
}

.last-news{
    float:left;
    width:705px;
    text-align:left;
    padding:5px;
    background-color:#fff;
    background-image:url(img/lines-points.jpg);
    background-position:top right;
    background-repeat:no-repeat;
    margin:7px 0px 10px;
    -moz-box-shadow: 0 0 7px #cfcfcf;
    -webkit-box-shadow: 0 0 7px #cfcfcf;
    box-shadow: 0 0 7px #cfcfcf;
}

.last-news p{
    margin:5px;
}

.last-news p a{
    color:#811517;
    text-decoration:none;
    font-size:14px;
    font-weight:bold;
}

.last-news p a:hover{text-decoration:underline;}

.last-news-pic{
    float:left;
}

.last-news-right{
    float:left;
    width:521px;
    font-size:12px;
    padding: 0 10px;
    text-align:justify;
}

.last-news-bottom{
    float: left;
    height: 21px;
    width: 515px;
    margin-top: 23px;
    font-size:11px;
}

.comment{
    float:left;
    width:125px;
    height:20px;
    margin-right:10px;
    text-align:center;
    background-color:#811517;
    border-radius:7px;
    -moz-border-radius: 7px;
    -webkit-border-radius:7px;
}

.comment a{
    color:#fff;
    line-height:20px;
    text-decoration:none;
}

.f-share{
    float:left;
    width:60px;
    height:20px;
    border-left:1px dotted #535353;
    padding-left:10px;
    margin-right:10px;
    background-image:url(img/face-share.png);
    background-repeat:no-repeat;
    background-position:center right;
}

.tweeter{
    float:left;
    width:55px;
    height:20px;
    border-left:1px dotted #535353;
    padding-left:10px;
    background-image:url(img/twitter.png);
    background-repeat:no-repeat;
    background-position:center right;
}

.tweet-comment{
    float:left;
    width:44px;
    height:21px;
    text-align:center;
    color:#2c71b6;
    font-weight:bold;
    line-height:21px;
    font-size:14px;
    background-image:url(img/comment-num.png);
    background-repeat:no-repeat;
    background-position:center right;
}

.date{
    float:right;
    font-size:11px;
    width:92px;
    height:inherit;
    background-color:#e0e0e0;
    line-height:22px;
    text-align:center;
}

/* BASE-RIGHT */
#base-right{
    float: left;
    width: 258px;
    margin-left: 14px;
    padding-top: 15px;
    background-image:url(img/p-bg1.png);
}

#new{
    float:left;
    width:244px;
    text-align:left;
    padding-top: 8px;
    margin-bottom: 10px;
    background-image:url(img/lines-points-new.png);
    background-repeat:no-repeat;
    background-position:top right;
    background-color:#811517;
}
#new span{
    color: #fff;
    padding:7px 0 0 5px;
    font-size: 24px;
    font-weight: bold;
    padding-left: 12px;
}

#new-content{
    margin:12px auto;
    background-color:#fff;
    width:198px;
    height:190px;
    font-size:12px;
    text-align:left;
    color:#000;
    /*font-weight:normal;*/
    padding:0px 7px;
    font-weight: bold;
    border-radius:12px;
    -moz-border-radius: 12px;
    -webkit-border-radius:12px;
}

#new-content p{
    margin:0px;
    padding:8px 0px;
    color:#811517;
    font-size:14px;
    font-weight: bold;
}

.block{
    float:left;
    width:224px;
    margin-top:12px;
    text-align:left;
    padding:0 10px 6px;
    background-color:#fff;
    background-image:url(img/lines-points.jpg);
    background-repeat:no-repeat;
    background-position:top right;
    -moz-box-shadow: 0 2px 7px #cfcfcf;
    -webkit-box-shadow: 0 2px 7px #cfcfcf;
    box-shadow: 0 2px 7px #cfcfcf;
}

#library{
    width:221px;
    margin:25px auto;
}

.block span{
    font-size:18px;
    font-weight:bold;
    color:#010101;
}

#library a{
    color:#811517;
    font-size:12px;
    float:right;
    padding:4px 10px 0 0;
}

#library a:hover{text-decoration:none;}

#top-news{
    margin: 25px auto 5px;
    width: 221px;
}

#top-news p{margin-top:5px;}

#top-news a{
    color:#811517;
    text-decoration:none;
    font-weight:bold;
    font-size:13px;
}
#top-news a:hover{text-decoration:underline;}

#recommended{
    margin: 25px auto 5px;
    width: 221px;
    color:#811517;
    font-size:12px;
}

#recommended a{
    color:#811517;
    text-decoration:none;
    font-weight:bold;
    font-size:14px;
}

#recommended a:hover{text-decoration:underline;}

#subscribe{
    margin: 25px auto 5px;
    width: 221px;

}

#subscribe p{
    color:#010101;
    font-size:12px;
    margin:5px 0px;
}

#email{
    margin: 10px auto 5px;
    padding: 3px 0;
    width: 221px;
    text-align:center;
    background-color:#dca351;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
}

#email p{color:#fff;}

#email-text{
    width:193px;
    color:#dc8d1c;
    /*padding:10px 6px;*/
    border:0px;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
}

#email-text:focus{border:0px;}

#email-text-side{
    width:209px;
    margin:0 auto;
    /*border:1px solid #fff;*/
    background-color:#fff;
    border-radius:8px;
    padding:8px 0px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
}

#email-submit{
    width:209px;
    border:0px;
    color:#811517;
    height:23px;
    background-image:url(img/email-submit-bg.png);
    background-repeat:repeat-x;
    margin:4px 0;
    padding:1px 0px;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
}



/* FOOTER */
#footer{
    float:left;
    width:973px;
    margin:35px 0px 0px 12px;
    background-image:url(img/points.jpg);
    background-position:top left;
    background-repeat:repeat-x;
}

/* ALFAWEB */
#alfaweb{
    float:right;
    text-align:right;
    width:128px;
    height:48px;
    font-family:Arial;
    font-size:12px;
    color:#a5a3a3;
    margin: 7px 14px;
    background-image:url(img/alfaweb.png);
    background-position:bottom center;
    background-repeat:no-repeat;
}
