
    .vertical {
    writing-mode: tb-rl; 
	height: 355px;
	width: 35px;
	position: absolute;
	margin-left: 5px;
	margin-top: 0px;
	text-align: left;
}

#left-menu{
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#cfcfcf')";
}

#slide #slide{
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#cfcfcf')";
}

#youtube{
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#cfcfcf')";
}

#base-left-center{
 	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#cfcfcf')";
}

#last-news{
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#cfcfcf')";
}

 .last-news{
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#cfcfcf')";
}

.block{
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#cfcfcf')";
}
