
  .vertical {
      writing-mode: tb-rl;
      height: 355px;
      width: 35px;
      position: absolute;
      margin-left: -34px;
      margin-top: 35px;
      text-align: left;

  }

  #left-menu{
      filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#cfcfcf')";
  }

  #slide{
      filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#cfcfcf')";
  }

  #slide #youtube{
      filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#cfcfcf')";
  }

  #base-left-center{
      filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#cfcfcf')";
  }

  #last-news{
      filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#cfcfcf')";
  }

  .last-news{
      filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#cfcfcf')";
  }

  .block{
      filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#cfcfcf')";
  }